<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MS_TableConnectionString" connectionString="data source=tcp:fb7g8e594x.database.windows.net;Database=strandd-ctedev_db;User ID=roadzen-dblogin@fb7g8e594x;Password=Atharva4Veda;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="MS_MobileServiceName" value="strandd-ctedev"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RZ_InstamojoBaseURL" value="https://www.instamojo.com/roadZEN/strandd-service-dev"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RZ_InstamojoIncidentDataField" value="Field_42091"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RZ_ServiceBaseURL" value="http://strandd-dev.azure-mobile.net"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>