<section class="panel" id="spv_Communications">
        <header class="strandd-head">
            <span>
                <i class="fa fa-server"></i>
            </span>
            <h3>Communications Log </h3>
            <!--
            <h3>StrandD Azure Mobile Services Log <span data-bind="visible: (!stateLoading())">| Last Updated [<span data-bind="text: timestampUpdate"></span>] </span></h3>
            -->
            <span class="strandd-combo pull-right" data-bind="visible: (!stateLoading()), click: refreshLogCore">
                <i class="fa fa-refresh"></i> Refresh
            </span>
        </header>
    <div class="panel-body" data-bind="visible: logCore().length == 0">
        <h3><i class="fa fa-circle-o-notch fa-spin"></i> <span data-bind="text: stateLoading"></span></h3>
    </div>
    <!--
        <div class="panel-body" data-bind="visible: logCore().length > 0">
            <select class="form-control" data-bind="options: indexAdminRoles, optionsText: 'text', optionsValue: 'code', value: newAccountRole"></select>
        </div>
        -->
        <table class="table service-table" data-bind="visible: logCore().length > 0">
            <thead>
                <tr>
                    <th><i class="fa fa-unlock"></i> CommunicationGUID</th>
                    <th><i class="fa fa-institution"></i> Type</th>
                    <th><i class="fa fa-phone"></i> Tag</th>
                    <th><i class="fa fa-tasks"></i> Status</th>
                    <th><i class="fa fa-steam"></i> Incident</th>
                    <th><i class="fa fa-user-md"></i> Operator</th>
                    <th><i class="fa fa-clock-o"></i> Start Time</th>
                    <th><i class="fa fa-clock-o"></i> End Time</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: logCore">
                <tr>
                    <td>
                        <div>
                            <span data-bind="text: communicationGUID"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span data-bind="text: type"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span data-bind="text: tag"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span data-bind="text: status"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span data-bind="text: incidentGUID"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span data-bind="text: operatorAccountInfo.name"></span>
                        </div>
                    </td>
                    <td>
                        <div data-bind="if: startTime">
                            <span data-bind="calendarTime: startTime"></span>
                        </div>
                    </td>
                    <td>
                        <div data-bind="if: endTime">
                            <span data-bind="calendarTime: endTime"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

