<section class="panel" id="spv_Highlights">
    <header class="strandd-head">
        <span>
            <i class="fa fa-bar-chart-o"></i>
        </span>
        <h3>Incident Highlights</h3>
    </header>  
    <div class="panel-body" data-bind="visible: $parent.log().length == 0">
        <h3><i class="fa fa-circle-o-notch fa-spin"></i> <span data-bind="text: stateLoading"></span></h3>
    </div>
    <table class="table table-hover log-table" data-bind="visible: $parent.log().length > 0">
        <thead>
            <tr>
                <th><i class="fa fa-tasks"></i> Status</th>
                <th><i class="fa fa-list"></i> Count</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: countStatus">
            <tr>
                <td>
                    <div>
                        <span data-bind="text: text"></span>
                    </div>
                </td>
                <td>
                    <div>
                        <span data-bind="text: count"></span>
                    </div>
                </td>                
            </tr>
        </tbody>
    </table>    
</section>
