<div class="container">
    <form class="form-signin" data-bind="submit: attemptLogin">
        <h2 class="form-signin-heading">RoadZen Sign-In</h2>
        <div class="login-wrap">
            <div class="alert alert-block alert-danger fade in" data-bind="visible: errorLogin">
                <strong>Login Failed! </strong><span data-bind="text: errorLogin"></span>
            </div>
            <input type="text" data-bind="value: phone" class="form-control" placeholder="Phone" autofocus>
            <input type="password" data-bind="value: password" class="form-control" placeholder="Password">
            <!--
                <select data-bind="options: listCompanySelection, optionsText: 'text', optionsValue: 'value', value: companyGUID" class="form-control"></select>
                -->
            <!--
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>
                </span>
            </label>
            -->
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
            <div data-bind="visible: progressLogin">
                <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
            </div>
        </div>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
    </form>
</div>
