<!--header start-->
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div data-original-title="Toggle Navigation" data-placement="right" data-bind="click: toggleSidebar" class="fa fa-bars tooltips"></div>
    </div>
    <!--logo start-->
    <img src="img/logo_header.png" class="logo" alt="StrandD" />
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification row start -->
        <ul class="nav top-menu">
            <!--
                <div data-bind="compose:'views/taskslistem.html'"></div>
            -->
        </ul>
        <!-- notification row end-->
    </div>
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <li class="header-loader" data-bind="visible: router.isNavigating">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </li>
            <li class="sb-toggle-right">
                <i class="fa  fa-align-right"></i>
            </li>
        </ul>
    </div>
</header>
<!--header end-->
